{% extends "base.html" %}

{% block content %}
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 bg-light rounded p-4 shadow-lg">
                <h2 class="text-center mb-4">Product Image</h2>
                <div class="text-center">
                    <img class="img-fluid rounded"
                         src="{{ url_for('get_image', dataset=dataset, image_name=reference_name) }}"
                         alt="Frame overview">
                </div>
            </div>
            
            <div class="col-md-5 bg-light rounded p-4 shadow-lg">
                <h2 class="text-center mb-4">Customise your look</h2>
                <ul class="list-unstyled">
                    {% for caption in relative_captions %}
                        <a href="{{ url_for('results', dataset=dataset, reference_name=reference_name, caption=caption ) }}">
                            <li class="bg-white rounded p-3 mb-3 hover-shadow text-center">
                                <h5 class="text">{{ caption }}</h5>
                            </li>
                        </a>
                    {% endfor %}
                </ul>
                
                <div class="bg-white rounded p-3 text-center">
                    <form method="POST">
                        <label for="custom_caption"><h4 class="mb-3">Describe desired style changes</h4></label>
                        <textarea class="form-control mb-3" required="required"
                                  id="custom_caption" name="custom_caption" rows="4"
                                  placeholder="Insert your caption here"></textarea>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
